"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map fm gq


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
"
"" Use system clipboard
set clipboard+=unnamed

" Find more examples here: https://jb.gg/share-ideavimrc
" Custom Settings
let mapleader=" "
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
inoremap jk <ESC>
nnoremap <S-e> $
vnoremap <S-e> $
nnoremap <S-b> _
vnoremap <S-b> _


nmap <C-n> <Action>(ActivateProjectToolWindow)
nmap <leader>ra <Action>(RenameElement)
nmap <leader>fm <Action>(ReformatCode)
nmap <leader>/ <Action>(CommentByLineComment)
vmap <leader>/ <Action>(CommentByLineComment)
nmap K <Action>(QuickJavaDoc)
nmap J <Action>(ShowErrorDescription)
nmap gd <Action>(GotoDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gD <Action>(GotoSuperMethod)
nmap gr <Action>(FindUsages)
nmap <leader>ds <Action>(FileStructurePopup)
nmap <TAB> <Action>(NextTab)
nmap <S-TAB> <Action>(PreviousTab)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>gb <Action>(Annotate)
nmap <A-j> <Action>(MoveLineDown)
nmap <A-k> <Action>(MoveLineUp)
vmap <A-j> <Action>(MoveStatementDown)
vmap <A-k> <Action>(MoveStatementUp)
nmap <leader>x <Action>(CloseContent)
nmap <C-l> <Action>(EditorDuplicate)
nmap <C-o> <Action>(Back)
nmap [d <Action>(GotoNextError)
nmap [c <Action>(VcsShowNextChangeMarker)
