window#waybar {
  background: transparent;
}

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  border-radius: 14px;
  background: #2e383c;
}

#window {
  background: #2e383c;
  color: #d3c6aa;
}

#workspaces {
  background-color: #2e383c;
  padding-right: 8px;
  padding-left: 8px;
}

#workspaces button {
  background: transparent;
  padding: 5px;
  font-size: 18px;
  color: #d3c6aa;
}

#workspaces button:hover {
  background: #2e383c;
  border-radius: 4px;
}

#workspaces button.active {
  color: #78c2a5;
}

#keyboard-state {
  padding-left: 8px;
  padding-right: 8px;
  color: #d3c6aa;
  background: #2e383c;
}

#clock {
  background: #2e383c;
  color: #d3c6aa;
}

#pulseaudio {
  color: #d3c6aa;
  background: #2e383c;
  padding-left: 16px;
  padding-right: 8px;
}

#network {
  transition: none;
  color: #d3c6aa;
  background: #2e383c;
  padding: 0px 8px 0px 16px;
}

#battery {
  transition: none;
  color: #d3c6aa;
  background: #2e383c;
  border: solid red;
  padding: 0px 16px 0px 16px;
}

#battery.charging {
  color: #2a5c45;
  background-color: #a7c080;
}

#battery.warning:not(.charging) {
  background-color: #dbbc7f;
  color: black;
}

#battery.critical:not(.charging) {
  background-color: #e67e80;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  padding: 0px 16px 0px 16px;
}

#tray menu menuitem:hover {
  background: #2e383c;
  color: #d3c6aa;
}

#custom-powermenu {
  color: #d3c6aa;
  background: #2e383c;
  font-size: 14px;
  padding: 0px 8px 0px 8px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
