* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 16px;
}

window#waybar {
  background-color: alpha(#2e383c, 0.999);
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
}

/*-----------Tooltip--------------*/
tooltip {
  background: #272E33;
  border-radius: 14px;
}
tooltip label {
  color: #d3c6aa;
  padding: 6px;
}

/* Workspaces */
#workspaces {
  padding-left: 10px;
  border-radius: 9px;
}
#workspaces button {
  background: transparent;
  padding: 5px;
  font-size: 18px;
  color: #d3c6aa;
}
#workspaces button:hover {
  background: #2e383c;
  border-radius: 4px;
}
#workspaces button.active {
  color: #78c2a5;
}

#keyboard-state {
  padding-left: 8px;
  padding-right: 8px;
  color: #d3c6aa;
}

#clock {
  color: #d3c6aa;
}

#pulseaudio {
  color: #d3c6aa;
  padding-left: 16px;
  padding-right: 8px;
}

#network {
  transition: none;
  color: #d3c6aa;
  padding: 0px 8px 0px 16px;
}

#battery {
  transition: none;
  color: #d3c6aa;
  border: solid red;
  padding: 0px 16px 0px 16px;
}

#battery.charging {
  color: #2a5c45;
  background-color: #a7c080;
}

#battery.warning:not(.charging) {
  background-color: #dbbc7f;
  color: black;
}

#battery.critical:not(.charging) {
  background-color: #e67e80;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* tray section in the bar */
#tray {
  color: #d3c6aa;
  padding: 0px 16px 0px 16px;
}
/* tray menu pop up */
#tray menu {
  background: #2e383c;
  color: #d3c6aa;
}
#tray menu menuitem:hover {
  background: #4F5B58;
  color: #d3c6aa;
}

#custom-powermenu {
  color: #d3c6aa;
  font-size: 14px;
  padding: 0px 8px 0px 8px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
